@import 'flowbite';
@import "tailwindcss";

::-webkit-scrollbar{
    background-color: white;
    border: 1px solid black;
}

::-webkit-scrollbar-button{
    background-color: #008f00;
    border: 1px solid black;
    color: black;
}
::-webkit-scrollbar-thumb{
    background-color: #00a800
;
    border: 1px solid black;

}


/* Chrome, Edge, Safari */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
