@import 'flowbite';
@import "tailwindcss";

::-webkit-scrollbar{
    background-color: white;
    border: 1px solid black;
}

::-webkit-scrollbar-button{
    background-color: #008f00;
    border: 1px solid black;
    color: black;
}
::-webkit-scrollbar-thumb{
    background-color: #00a800
;
    border: 1px solid black;

}


/* Chrome, Edge, Safari */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.rotating-glow{
  animation : rotate 1s linear infinite;

}


.typing-text {
  font-family: monospace;
  font-size: 24px;
  white-space: nowrap;
  overflow: hidden;
  border-right: 4px solid black;
  animation: typing 4s steps(20, end) infinite, blink 0.7s step-end infinite;
}

@keyframes typing {
  0% { width: 0; }
  100% { width: 30%; }
}

@keyframes blink {
  50% { border-color: transparent; }
}

@keyframes rotate {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}